.infobar
  width infobarWidth
  position absolute
  right 0px
  top 0px
  bottom 0px
  background lighten(ColorGreyBg, 80%)
  border-left 1px solid lighten(ColorGreyBg, 30%)
  padding 20px 10px
  @media MediaMobile
    z-index 1000
    width 100%
    left auto
    left 100%
    transition left 0.4s
    &.has-selection
      left 0px
  h2
    color ColorHeading
    font-size 20px
    margin 0px
    .cancel
      position absolute
      top 3px
      right 10px
      font-size 14px
      font-variant small-caps
      font-weight normal
      text-decoration underline
      color #1
      &:hover
        text-decoration none
        cursor pointer
  .subtitle
    display none
    color #6
    font-style italic
    margin-top 6px
  h3
    color black
    float left
    clear left
    font-variant small-caps
    font-weight normal
    margin 20px 0px 16px 0px
    border-bottom 1px solid black
  &.nodata
    h3
    .total
      color #a
    h3
      border-bottom-color #a
    .subtitle
      display block
    .cancel
      visibility hidden
    ol.typy
      height 140px
  .total
    display block
    float left
    width 100%
    margin-bottom -15px
    margin-top 15px
    color #333
    font-variant small-caps
    // line-height 3em
    .value
      float left
      font-size 40px
      font-family 'Ek Mukta', sans-serif
    .suffix
      float left
      margin-top 9px
      line-height 14px
      padding-left 10px

  .histogram
    float left
    width 100%
    height 110px
    margin-bottom 8px
    position relative
    .bar
      float left
      position relative
      cursor pointer
      .legend
        position absolute
        bottom -20px
        font-size 0.7em
        width 100%
        text-align center
      .fill
        background ColorHeading
        position absolute
        bottom 0px
        width 100%
        min-height 1px
        border-right 1px solid lighten(ColorGreyBg, 80%)
        &.bg
          background #c
    &.time
      .bar
        width (100% / 24)
        height @height
        .legend
          left -50%
        &:first-child .legend
          display none
    &.day
      .bar
        width (100% / 7)
        height @height
        &:nth-child(6)
        &:nth-child(7)
          .fill
            background lighten(ColorHeading, 10%)
            &.bg
              background #d3d3d3
    &.filtered
      .bar.inactive .fill
        background #ccc

  ol.typy
    list-style-type none
    margin -5px 0px 0px 0px
    padding 0px
    float left
    width 100%
    height 239px
    overflow-x hidden
    overflow-y auto
    position relative
    li
      position absolute
      left 0px
      width 100%
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
      transition top 0.2s
      cursor pointer
      .name
        position relative
        z-index 2
      .fill
        z-index 1
        position absolute
        top 0px
        left 0px
        height 22px
        background lighten(ColorHeading, 80%)
        border-bottom 4px solid ColorHeading
        &.bg
          border-bottom-color #aaa
    &.filtered
      li
        color #a
        &.filtered
          color black
