@import colors
@import prefixes
@import 'components/triangle'
infobarWidth = 330px

MediaSmallScreen = "screen and (max-width: 1023px)"
MediaMobile = "screen and (max-width: 767px)"

.ig
  @import basics
  @import Map
  @import Infobar
  @import Geocoder
  @import EmbedLogo
.ig
  width 100%
  overflow hidden
.ig .typ-selector
  position absolute
  top 10px
  right 340px
  width 140px
  padding 4px 0px 4px 3px
  border 2px solid #a
  border-radius 4px
  @media MediaMobile
    right 10px
